/*Pipeline*/
.pipeline-nav {
	float:left;
	width:20%;
	border-right:1px solid #eee;
	padding-right:1em;
	margin-right:1em;
}
.pipeline-nav ul {
	margin:0;
}
.pipeline-nav li {
	display: block;
	width:100%;
	border-radius: 3px;
	margin-bottom:2px;
}

.pipeline-nav li.year {
	margin-bottom:12px;
}

/*Sub nav */
.pipeline-summary .pipeline-nav li.department-summary,
.pipeline-department-1 .pipeline-nav li.department-1,
.pipeline-department-2 .pipeline-nav li.department-2,
.pipeline-department-3 .pipeline-nav li.department-3,
.pipeline-department-4 .pipeline-nav li.department-4,
.pipeline-department-5 .pipeline-nav li.department-5,
.pipeline-department-6 .pipeline-nav li.department-6,
.pipeline-department-7 .pipeline-nav li.department-7,
.pipeline-department-8 .pipeline-nav li.department-8 {
	background: #eee;
}

.pipeline-nav li a:hover {
	background-color:#eee;
}

.pipeline-nav .export {
	margin-top:2em;
	background: red;
	color:white;
	padding:12px;
	display: block;
	border-radius: 5px;
	text-align: center;
}
.pipeline-nav .export:hover {
	background: red;
}