
.pipeline-container {
	float:left;
	width:70%;
	margin-top:1em;
}

.departments-pipelineExportForm .pipeline-container {
	width:auto;
}

table.pipeline td.pipeline {
	background:#ddd;
}

table.pipeline td.confirmed-highly-likely {
	background:#eee;
}

table.pipeline td.last-year {
	background:#fff;
}

.export-mac-template {
	margin-top:2em;
	background: red;
	color:white;
	padding:12px;
	display: block;
	border-radius: 5px;
	text-align: center;
	text-decoration: none;
}

.export-mac-template:hover {
	color:#fff;
	background: red;
}


.department-cfhl, .department-budget {
	min-width: 120px;
}


.mac-health-warning {
	margin-bottom:3em;
}

.mac-health-warning ul li {
	margin-bottom:0.5em;
}
