
<md-dialog class="rf-dialog-large" layout-padding ng-form="accompanimentItemForm">

	<md-toolbar>
      <div class="md-toolbar-tools">
        <h2>Edit Accompaniment Item</h2>
      </div>
    </md-toolbar>
	<md-dialog-content ng-cloak>
			
		<div layout="row" layout-wrap>

			<div flex="100">
				<!-- Title -->
				<md-input-container class="md-block">
					<label>Name of the entity that is being accompanied through the project</label>
					<input ng-model="data.Accompaniment.title" required>
				</md-input-container>
			</div>


			<div flex="50">
				<!-- Start Date -->

				<label class="non-material">
					Start Date
				</label>

				<ng-combo-date-picker 
					ng-timezone="0"
					ng-min-date="2010-01-01" ng-max-date="{{FormOptions.defaultMaxDate}}" 
					ng-required="true"
					ng-model="data.Accompaniment.start_date"
				></ng-combo-date-picker>

			</div>

			<div flex="50">
				<!-- Finish Date -->

				<label class="non-material">
					Finish Date
				</label>

				<ng-combo-date-picker 
					ng-timezone="0"
					ng-min-date="2010-01-01" ng-max-date="{{FormOptions.defaultMaxDate}}" 
					ng-required="true"
					ng-model="data.Accompaniment.finish_date"
				></ng-combo-date-picker>

			</div>
			
  
			<div 
				flex="50" 
				ng-repeat="(i, participant_type) in FormOptions.participant_types">
				<!-- Participation Types -->

				<md-input-container class="md-block">
					<label>Number of {{participant_type.ParticipantType.name}}</label>
					<input 
						type="number"
						number-string
						min="0"
						ng-model="data.participant_type_counts[participant_type.ParticipantType.id]"
						>
				</md-input-container>
			</div>
		</div>

		
		<!-- <pre>{{data.accompaniment | json}}</pre> -->

	</md-dialog-content>



	<md-dialog-actions layout="row">
        <md-button ng-click="cancel()" md-no-ink class="md-primary">
          Cancel
        </md-button>
	  <span flex></span>
	  <md-button 
	  	ng-disabled="accompanimentItemForm.$invalid"
	  	ng-click="save(data)" 
	  	class="md-raised md-primary">
	    Save
	  </md-button>
	</md-dialog-actions>



</md-dialog>
