
<md-dialog class="rf-dialog-large" layout-padding ng-form="advocacyItemForm">

	<md-toolbar>
      <div class="md-toolbar-tools">
        <h2>Edit Advocacy/Outreach Item</h2>
      </div>
    </md-toolbar>

	<md-dialog-content ng-cloak>

		<div layout="row" layout-wrap>

			<!-- <pre>{{data | json}}</pre> -->
			<!-- <pre>{{data.participant_type_counts | json}}</pre> -->

			<div flex="100">
				<!-- Title -->
				<md-input-container class="md-block">
					<label>Title</label>
					<input ng-model="data.Advocacy.title" required>
				</md-input-container>
			</div>


			<div flex="50">
				<!-- Start Date -->

				<date-string-selector label="Start Date" max="data.Advocacy.finish_date" ng-model="data.Advocacy.start_date" /> 

			</div>

			<div flex="50">
				<!-- Finish Date -->

				<date-string-selector label="Finish Date"  min="data.Advocacy.start_date" ng-model="data.Advocacy.finish_date" /> 

			</div>


			<div class="instruction-block">
				<p>
					Use informed estimates if you don't have precise numbers. NB a person who attends two meetings is counted twice for this purpose.
				</p>
				<p>
					Vous pouvez faire des estimations précises si vous n'avez pas les chiffres précis. NB une personne qui assiste à deux réunions est comptée deux fois. 
				</p>
			</div>


			<div flex="50">
				<!-- Participation Types -->
				<md-input-container class="md-block">
					<label>Number of Men</label>
					<input 
						number-string
						required
						type="number"
						min="0"
						ng-model="data.Advocacy.male_count"
						>
				</md-input-container>
			</div>


			<div flex="50">
				<!-- Participation Types -->
				<md-input-container class="md-block">
					<label>Number of Women</label>
					<input 
						number-string
						required
						type="number"
						min="0"
						ng-model="data.Advocacy.female_count"
						>
				</md-input-container>
			</div>

			

			<div class="instruction-block">
				<p>
					Number of identified advocacy targets, per category, with which the project engaged to provide specific recommendations and advice designed to influence their approaches.
				</p>
				<p>
					Le nombre de cibles de plaidoyer identifiés, par catégorie, avec laquelle le projet s’engagé à fournir des recommandations et des conseils spécifiques visant à influencer leurs approches.
				</p>
			</div>
  
			<div 
				flex="50" 
				ng-repeat="(i, participant_type) in FormOptions.participant_types">
				<!-- Participation Types -->

				<md-input-container class="md-block">
					<label>Number of {{participant_type.ParticipantType.name}}</label>
					<input 
						type="number"
						number-string
						min="0"
						ng-model="data.participant_type_counts[participant_type.ParticipantType.id]"
						>
				</md-input-container>
			</div>
		</div>

		<div layout="row"><h3>Themes</h3></div>
		<div layout="row">
	        <ul class="themes-selector">
				<li ng-repeat="theme in FormOptions.themes">
					
					<md-checkbox 
						checklist-model="data.Theme" 
						checklist-value="theme.Theme"
						checklist-comparator=".id"
					>
			            {{theme.Theme.name}}
					</md-checkbox>

				</li>
			</ul>
		</div>
	

		
		<pre>{{data | json}}</pre>

	</md-dialog-content>



	<md-dialog-actions layout="row">
        <md-button ng-click="cancel()" md-no-ink class="md-primary">
          Cancel
        </md-button>
	  <span flex></span>
	  <md-button 
	  	ng-disabled="advocacyItemForm.$invalid || !data.Theme.length"
	  	ng-click="save(data)" 
	  	class="md-raised md-primary">
	    Save
	  </md-button>
	</md-dialog-actions>



</md-dialog>
