.territory-selector .checkbox {
	float:left;
	clear:none;
}



/*Project timespan*/

.timespan .start,
.timespan .finish,
.timespan .extension {float:left; width:25%; clear:none; margin-right:3%;}
.timespan h4 {text-align: center; font-size:120%;}
.timespan .extension h4 {
  margin-bottom: 1em;
}
.timespan .ui-datepicker {margin:0 auto;}
.ui-datepicker .ui-datepicker-title {padding:0;}
.timespan-in-months {text-align: center; font-weight: bold;}

/*Other dates*/
.other-dates .proposal,
.other-dates .reporting,
.other-dates .evaluation {
  float:left; width:25%; clear:none; margin-right:3%;
}
.other-dates h4 {text-align: center; font-size:120%;}

.total-contracts-value strong {font-size: 1.2em;}
.shortfall strong {font-size: 1.2em;}

#ProjectOwnerUserId {min-width:50%;}


span.field-validation-error {background:pink; padding:8px 4px;}
span.input-validation-success {background:#D5F5D5;}


.input {position:relative;}

.field-validation-error {
	display: block;
	text-align: center;
}

.input-validation-success {
  position: absolute;
  top: 0;
  left: -40px;
  border-radius: 20px;
  width: 26px;
  color:darkgreen;
  font-size:10px;
 }


 /*Project URLs*/


.project-urls ul {
  list-style: none;
    margin: 0;
}
.project-urls ul li {
  padding:4px 8px;
  margin-bottom:4px;
  background: #eee;
}
.project-urls ul li .delete {
  float:right;
}


#dialog-project-save {
  display: none;
  text-align: center;
}

/*Dialogs*/

.no-titlebar .ui-dialog-titlebar {
    display: none;
}


.component-key-dates {
  margin-bottom: 5em;
}