.territory-selector .checkbox {
	float:left;
	clear:none;
}



/*Project timespan*/
.timespan .start,
.timespan .finish {float:left; width:40%; clear:none;}
.timespan h4 {text-align: center;}
.timespan .ui-datepicker {margin:0 auto;}
.ui-datepicker .ui-datepicker-title {padding:0;}


.total-contracts-value {font-weight: bold; font-size: 1.2em;}
.shortfall {font-weight: bold; font-size: 1.2em;}

#ProjectSummary {font-size:1em;}