#header {margin-bottom: 1em;}
nav {padding:1em 1em 0;}
nav ul {list-style: none; float:right;}
nav ul li {float:left;}
nav ul li a { color:#000; text-decoration: none; display: block; background:#fff; padding:1em;}

section	{margin: 1em 0 2em;}


pre {
 white-space: pre-wrap;       /* css-3 */
 white-space: -moz-pre-wrap;  /* Mozilla, since 1999 */
 white-space: -pre-wrap;      /* Opera 4-6 */
 white-space: -o-pre-wrap;    /* Opera 7 */
 word-wrap: break-word;       /* Internet Explorer 5.5+ */
}


/* Actions */
div.actions {
	/*width:19%;
	padding:0;*/
}
.actions select {width:100%;}


.block {margin:2em 0 3em;}

/* Dashboard */

section.dashboard {
	float:left; 
	padding:1em;
	margin:1em;
	border:3px solid #eee;
	width:27%;
}
.dashboard-timespan {
	float: left;
	list-style: none;
	margin:0;
	height:40px;
}

.dashboard-timespan li {
	float: left;
	padding:0.5em;
	margin:0;
}
.dashboard-timespan li.selected {
	background:#eee;
}
.dashboard-timespan li a {
	text-decoration: none;
}

.document-list {
	list-style: none;
	margin:0;
}
.document-list li { 
	
}

.document-list li a { 
	margin:2px;
	display: block;
	padding:1em;
	background:#eee;
	text-decoration: none;
}

.document-list li a:hover {
	background:#ddd	;
}


.activity-feed {
	list-style: none;
	margin:1em;
}
.activity-feed li {
	margin:1em 0;
}
.activity-feed img {
	width:40px;
	height:40px;
	float:left;
	margin-right: 10px;
}

.activity-feed p {
	float:left;
	width:240px;
}


/* Payment */
.template {display: none;}

/*Pipeline*/
.pipeline-nav {
	float:left;
	width:20%;
	border-right:1px solid #eee;
	padding-right:1em;
	margin-right:1em;
}
.pipeline-nav ul {
	margin:0;
}
.pipeline-nav li {
	display: block;
	width:100%;
}

.pipeline-container {
	float:left;
	width:70%;
	margin-top:1em;
}