#container {min-width: 1000px;}
#header { float:left;}
#header img {height:32px;}
nav {padding:1em 1em 0;}
nav ul {list-style: none; float:right;}
nav ul li {float:left;}
nav ul li a {
	text-decoration: none;
	display: block;
	padding:1em;
	border-radius: 1px 1px 0 0;
}

nav.main {
	color:#fff;
}
nav.main ul li a {
	background:#04B3DE;
}
nav.main ul li a:hover {
	color:#000;
}
form div {padding:0.5em 0;}

body.dashboard nav .dashboard a,
body.donors nav .donors a,
body.territories nav .territories a,
body.projects-add nav .projects-add a,
body.projects-index nav .projects-index a,
body.programmes-pipelineSummary nav .pipeline a,
body.programmes-pipeline nav .pipeline a
{background:#fff; color:#333;}

nav.subnav {float:right; margin:0 1em 1em 1em;}

fieldset fieldset legend {font-size:110%;}
fieldset legend {color:#333;}
section	{margin: 1em 0 2em;}
textarea {font-size:1em;}



pre {
 white-space: pre-wrap;       /* css-3 */
 white-space: -moz-pre-wrap;  /* Mozilla, since 1999 */
 white-space: -pre-wrap;      /* Opera 4-6 */
 white-space: -o-pre-wrap;    /* Opera 7 */
 word-wrap: break-word;       /* Internet Explorer 5.5+ */
}


/* Actions */
div.actions {
	/*width:19%;
	padding:0;*/
}

div.form, div.index, div.view {
	float:none;
	border:0;
	width:100%;
}

.actions select {width:100%;}


.block {margin:2em 0 3em;}

/* Dashboard */

section.dashboard {
	float:left; 
	padding:1em;
	margin:1em;
	border:3px solid #eee;
	width:27%;
}
section.company-activity {
	width:55%;
}
.dashboard-timespan {
	float: left;
	list-style: none;
	margin:0;
	height:40px;
}

.dashboard-timespan li {
	float: left;
	padding:0.5em;
	margin:0;
}
.dashboard-timespan li.selected {
	background:#eee;
}
.dashboard-timespan li a {
	text-decoration: none;
}

.document-list {
	list-style: none;
	margin:0;
}
.document-list li { 
	
}

.document-list li a { 
	margin:2px;
	display: block;
	padding:1em;
	background:#eee;
	text-decoration: none;
}

.document-list li a:hover {
	background:#ddd	;
}


.activity-feed {
	list-style: none;
	margin:1em;
}
.activity-feed li {
	margin:1em 0;
}
.activity-feed img {
	width:40px;
	height:40px;
	float:left;
	margin-right: 10px;
}

.activity-feed p {
	float:left;
	width:440px;
}


/* Payment */
.template {display: none;}

/*Pipeline*/
.pipeline-nav {
	float:left;
	width:20%;
	border-right:1px solid #eee;
	padding-right:1em;
	margin-right:1em;
}
.pipeline-nav ul {
	margin:0;
}
.pipeline-nav li {
	display: block;
	width:100%;
}


.pipeline-container {
	float:left;
	width:70%;
	margin-top:1em;
}
/*Sub nav */
.programmes-pipelineSummary .pipeline-nav li.programme-summary,
.programmes-pipeline-1 .pipeline-nav li.programme-1,
.programmes-pipeline-2 .pipeline-nav li.programme-2,
.programmes-pipeline-3 .pipeline-nav li.programme-3,
.programmes-pipeline-4 .pipeline-nav li.programme-4,
.programmes-pipeline-5 .pipeline-nav li.programme-5,
.programmes-pipeline-6 .pipeline-nav li.programme-6,
.programmes-pipeline-7 .pipeline-nav li.programme-7,
.programmes-pipeline-8 .pipeline-nav li.programme-8 {
	background: #eee;
}


.programmes-pipeline
.pipeline-nav li