


body {background:#54D3DE;}
#container {min-width: 1000px;}

nav {padding:2em 1em 0;}
nav ul {list-style: none;}
nav ul li {float:right;}
nav ul li.dashboard {float: left;}
nav ul li a {
	text-decoration: none;
	display: block;
	padding:1em;
	border-radius: 1px 1px 0 0;
}

nav.main {
	color:#fff;
}
nav.main ul li a {
	background:rgba(255,255,255,0.7);
	color:#444;
	border-radius: 5px 5px 0 0;
	box-shadow:rgba(0,0,0,0.3) 2px 2px 2px 2px

}
nav.main ul li a:hover {
	background:rgba(255,255,255,0.85);
	color:#222;
}

#header-title {
	float:left;
}

#content {
	/*box-shadow:#666 2px 2px 2px 2px*/
}

form div {padding:0.5em 0;}

body.dashboard nav .dashboard a,
body.donors nav .donors a,
body.territories nav .territories a,
body.projects-add nav .projects-add a,
body.projects-index nav .projects-index a,
body.pipeline-summary nav .pipeline a,
body.pipeline-department nav .pipeline a
{
	background:#fff; 
	color:#333;
}

nav.subnav {float:right; margin:0 1em 1em 1em;}

fieldset fieldset legend {font-size:110%;}
fieldset legend {color:#333;}
section	{margin: 1em 0 2em;}
textarea {font-size:1em;}



pre {
 white-space: pre-wrap;       /* css-3 */
 white-space: -moz-pre-wrap;  /* Mozilla, since 1999 */
 white-space: -pre-wrap;      /* Opera 4-6 */
 white-space: -o-pre-wrap;    /* Opera 7 */
 word-wrap: break-word;       /* Internet Explorer 5.5+ */
}



/* Actions */
div.actions {
	/*width:19%;
	padding:0;*/
}

div.form, div.index, div.view {
	float:none;
	border:0;
	width:100%;
}

.actions select {width:100%;}
.block {margin:2em 0 3em;}

#footer {
	background:#000;
}

#footer ul {
	list-style: none;
}
#footer ul li {
	float:right;
}
#footer ul li.logo {
	float:left;
}
#footer ul li.logo img{
height:48px;
}
#footer ul a {
	text-decoration: none;
}




/* Dashboard */

#dashboard-actions {
	float:left;
	width:60%;
	margin-top:30px;
}

#dashboard-digest {
	float:left;
	width:40%;	
}

#dashboard-actions .links {
	list-style: none;
	margin:0;
	padding:0;
}

.search-form {margin-top:50px;}

#dashboard-actions .links li {
	
	margin:0;
}

#dashboard-actions .links li a {
	background:#eee;
	padding:8px 20px;
	display: block;
	text-decoration: none;

}

.dashboard section {
	padding:1em;
	margin:1em;
	border:3px solid #eee;
}

.dashboard .feedback {
	margin-top:3em;
}

.dashboard .intro {
	font-size:1.2em;
}
/*section.company-activity {
	width:55%;
}
.dashboard-timespan {
	float: left;
	list-style: none;
	margin:0;
	height:40px;
}

.dashboard-timespan li {
	float: left;
	padding:0.5em;
	margin:0;
}
.dashboard-timespan li.selected {
	background:#eee;
}
.dashboard-timespan li a {
	text-decoration: none;
}*/

.document-list {
	list-style: none;
	margin:0;
}
.document-list li { 
	
}

.document-list li a { 
	margin:2px;
	display: block;
	padding:1em;
	background:#eee;
	text-decoration: none;
}

.document-list li a:hover {
	background:#ddd	;
}


.activity-feed {
	list-style: none;
	margin:1em;
}
.activity-feed li {
	margin:1em 0;
}
.activity-feed img {
	width:40px;
	height:40px;
	float:left;
	margin-right: 10px;
}

.activity-feed p {
	float:left;
	/*width:440px;*/
}

.projects-searchDocs .results{
	margin-top:3em;

}


/* Payment */
.template {display: none;}
