img.logo {margin-bottom:10px;}
nav.main {text-align: center}

nav h1 {
	margin-left: 2em;
    float: left;
    padding-top: 11px;
    color: #333;	
}


.md-datepicker-calendar table {width:auto;}
.md-datepicker {
	margin-top: 18px;
    display: inline-block;
}

.md-toolbar-tools h2 {
	background:none;
	color:#fff;
	font-weight: bold;
}

md-dialog-content p {
	color:#333;
}



/*Travel applications*/

.travelapplication-search-nav {
	background:#eee;
	margin-left: -40px;
	padding-left: 40px;
	margin-right: -40px;
	padding-right: 40px;
	margin-top:-20px;
	padding-top:20px;
	margin-bottom:20px;

}

.travelapplication-search-nav .all-dates {
	padding-top:20px;
}

.travelapplication-search-nav .date {
	padding-top:7px;
}

.travelapplication-search-nav .search {
	padding-right:20px
}

.download_csv {
	float:right;
}