
.project-search-left {padding:10px;}
.project-search-left fieldset {margin:0; padding:0;}
.project-search-left .advanced {font-size:0.8em;}


.project-search-left .submit a.reset {
	display: block;
	background: 0;
	border: 0;
	box-shadow: none;
	text-align: center;
	text-decoration: none;
	padding-top: 4px;
}

.search-results {margin-top:3em;}



.project-search-left .standard li {
	float:left;
	margin:0;
}
.project-search-left .standard .q{
	width:80%;
}
.project-search-left .standard .q input {
	width:80%;
}
.project-search-left .standard .submit{
	width:20%;
}
.project-search-left ul {
	list-style: none;
	margin:0;
	padding:0;	
}
.project-search-left ul li{
	float:left;
	width:20%;
	height:100px;
}
.project-search-left select,
.project-search-left input,
.project-search-left label {
	width:100%;
	font-size:120%;
}

.project-search-left .advanced {
	display: none;
}

.project-search-left .advanced_shown {
	display: block;
}

.project-search-left {float:left; width:25%; margin-right: 3%; font-size: 90%; clear:none;}
.project-search-right {float:left; width:69%; clear:none}

form .project-search-left div {margin:0 0 6px; padding:0;}


.project-search-top {
	float:left;
	clear:none;
	width:69%;
}

.project-search-top ul {list-style: none;}
.project-search-top li {float:left;}
.project-search-top li.q {width:70%;}
.project-search-top li.q .input {margin-top:0;}
.project-search-top li.submit {width:20%; margin-top:6px;}

.project-search-results {
	/*float:left;
	clear:none;*/
}

.project-search-summary {
	/*float:left;
	clear:none;
	width: 69%;*/
}
.project-search-summary ul {
	list-style:none;
	margin:1em 1em 0;

}
.project-search-summary li {
	float:left;
	padding:4px 8px;
	margin:4px;
	background:#eee;
}

.no-results-feedback {
	/*float:left;
	width: 69%;*/
	margin-top:2em;
	background:#D7F9D7;
	border:1px solid lightgreen;
	padding:0.5em 0;
	border-radius: 2px;
}

.no-results-feedback .inner {
	padding:1em;
}


.project-search-left .ms-drop input[type="checkbox"] {width:auto;}
.project-search-left .ms-parent ul li {width:100%;height:auto;}



/* Project Search */
.projects .export {
	float:right;
}

.projects ul.export {
	list-style: none;
}
.projects ul.export li {
	float:left;
}


.date-block>div{
	float:left;
	width:45%;
	clear:none;

}

.date-block .date {
	margin-top:1.45em;
	margin-left:0.5%;
}