.territory-selector div.territory-checkbox {
	display:inline;
	padding:0;
	margin-bottom:0;
}
.territory-selector div.territory-checkbox label {
	display:inline-block;
	margin:0;
}


.territory-selector div.radio {
	display:block;
	padding:0;
	margin-bottom:0;
}
.territory-selector div.radio label {
	display:inline-block;
	margin:0;
}